body {
    background-color: black;
    color: whitesmoke;
    margin: o auto;
    border: 2px solid red;
    height: 98vh;
}

.container {
    background-color: yellowgreen;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.item {
    background-color: blueviolet;
    width: 50px;
    font-size: 2rem;
    text-align: center;
    line-height: 75px;
    border: 2px solid orangered;
    transition: width 300ms, line-height 300ms;
}

.press {
    background-color: darkcyan;
    width:60px;
    line-height: 85px;
}