body {
  text-align: center;
  background-color: #99f3bd;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #150485;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 160px;
  width: 160px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #de4463;
}

.green {
  background-color: #7ea04d;
}

.blue {
  background-color: #7579e7;
}

.yellow {
  background-color: #fca652;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
