body{
	background-color: #33FF33;
}
#maintable td{
	width: 100px;
	text-align: center;
	height: 50px;
	background-color: gray;
}
img{
	visibility: hidden;
	height: 50px;
	width: 50px;
}
#maintable div{
	background-color: #E8E8E8;
	width: 100px;
	height: 50px;
}
#maintable{
	position: relative;
	margin:auto;
}
h1{
	text-align: center;
	color: brown;
}
#instructions{
	color: #330000;
}
#follow{
	background-color: black;
	color: white;
	text-align: center;
}
#below{
	margin-left: 550px;
}