.grid {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.grid div {
  width: 20px;
  height: 20px;
}
.shooter {
  background-image: url("Picture/rocket.png");
  background-size: 20px 20px;
}
.invader {
  background-image: url("Picture/alien-monster.png");
  background-size: 20px 20px;
}
.boom {
  background-color: red;
}
.laser {
  background-color: rgb(206, 206, 31);
  width: 1px;
}
